.item1{
    grid-area: 1/1/2/7;
    /*grid-area: header;*/
}
.item2{
    grid-area: 2/1/4/2;
    /*grid-area: menu;*/
}
.item3{
    grid-area: 2/2/3/5;
    /*grid-area: main;*/
}
.item4{
    grid-area: 2/5/3/7;
    /*grid-area: right;*/
}
.item5{
    grid-area: 3/2/4/7;
    /*grid-area: footer;*/
}
.grid-container{
    margin: 0 auto;
    display: grid;
    width: 80%;
    height: 600px;
    /*grid-template-areas: 
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';*/
    grid-gap: 8px;
    background-color: rgb(33, 243, 44);
    padding: 10px;
    justify-content: stretch;
    align-content: stretch;
}

.grid-container > div{
    background-color: rgb(223, 79, 79);
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
@media (max-width:500px){
    .item1{
        grid-area: 1/1/2/5;
        /*grid-area: header;*/
    }
    .item2{
        grid-area: 2/1/4/2;
        /*grid-area: menu;*/
    }
    .item3{
        grid-area: 2/2/3/5;
        /*grid-area: main;*/
    }
    .item4{
        grid-area: 3/2/4/5;
        /*grid-area: right;*/
    }
    .item5{
        grid-area: 4/2/5/5;
        /*grid-area: footer;*/
    }
}